mat-form-field {
  display: block;
}
.hero {
  background: #F3F3F3;
  text-align: center;
}
.hero h1 {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: darkgreen;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Futura";
}
.card {
  background: white;
  padding: 15px;
}