/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    background-image: url('https://ak4.picdn.net/shutterstock/videos/20769244/thumb/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
